# Dev environment
pip
autopep8
#app
streamlit
pandas
pymongo
google-api-python-client
isodate
TensorFlow >= 2.0
transformers
transformers[sentencepiece]
pyngrok
extra_streamlit_components
plotly
streamlit_shadcn_ui
